@using System.Security.Claims
@using MvcCocoon.Data

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Facade</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/" id="appName">Wingtip Toys 2</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.HasClaim(c =>
                            c.Type == ClaimTypes.Role
                            && c.Value == "Administrator"))
                        {
                        <li><a href="~/Admin/AdminPage">Admin</a></li>
                        }
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/About">About</a></li>
                        <li><a href="~/Contact">Contact</a></li>
                        <li><a href="~/ProductList">Products</a></li>
                        <li><cart-link href="~/ShoppingCart"></cart-link></li>
                        @* <li><a href="~/ShoppingCart" ID="cartCount">&nbsp;</a></li> *@
                    </ul>
                    <partial name="_LoginPartial" />
                    @* <asp:LoginView runat="server" ViewStateMode="Disabled"> *@
                    @*     <AnonymousTemplate> *@
                    @*         <ul class="nav navbar-nav navbar-right"> *@
                    @*             <li><a runat="server" href="~/Account/Register">Register</a></li> *@
                    @*             <li><a runat="server" href="~/Account/Login">Log in</a></li> *@
                    @*         </ul> *@
                    @*     </AnonymousTemplate> *@
                    @*     <LoggedInTemplate> *@
                    @*         <ul class="nav navbar-nav navbar-right"> *@
                    @*             <li><a runat="server" href="~/Account/Manage" title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li> *@
                    @*             <li> *@
                    @*                 <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" /> *@
                    @*             </li> *@
                    @*         </ul> *@
                    @*     </LoggedInTemplate> *@
                    @* </asp:LoginView> *@
                </div>
            </div>
        </div>
    </header>
<div class="container">
    <div id="TitleContent" style="text-align: center">
        <a href="~/">
            <img id="Image1" src="~/Images/logo.jpg" alt="Wingtip Toys Logo" />
        </a>  
        <br />  
    </div>
    
    <div id="CategoryMenu" style="text-align: center">
        @{ bool first = true; }
        @* @foreach (var category in DbContext.Categories) *@
        @* { *@
        @*     @if (!first) *@
        @*     { *@
        @*         <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span> *@
        @*     } *@
        @*     else *@
        @*     { *@
        @*         first = false; *@
        @*     } *@
        @*     <a href="~/Category/@category.CategoryName">@category.CategoryName</a> *@
        @* } *@
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Facade - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
