@model MvcCocoon.Models.Admin.AdminPageViewModel

@{
  ViewBag.Title = "Admin";
  Layout = "_Layout";
}

<h1>Administration</h1>

<h2>Products</h2>

<div class="row">
  <div class="col-1">
    <a class="btn btn-primary" asp-action="NewProduct">
      Add a New Product
    </a>
  </div>
</div>

<table class="table">
  <thead>
  <th>Category</th>
  <th>Name</th>
  <th>Description</th>
  <th>Price</th>
  </thead>
  <tbody>
  @foreach (var product in Model.Products)
  {
    <tr>
      <td>@product.Category.CategoryName</td>
      <td>@product.ProductName</td>
      <td>@product.Description</td>
      <td>@product.UnitPrice.GetValueOrDefault().ToString("C")</td>
    </tr>
  }
  </tbody>
</table>
