@using BlazorServerCocoon.Services
@inject ShoppingCart Cart

<li><a href="/ShoppingCart" ID="cartCount">Cart (@_cartCount)</a></li>

@code {
                  
    private int _cartCount;

    protected override async Task OnInitializedAsync()
    {
        _cartCount = await Cart.GetCountAsync();
    }
}