@page "/Admin/AdminPage"
@using BlazorCocoon.Shared
@inject HttpClient Http

<h1>Admin</h1>

<h2>Products</h2>

<div class="row">
  <div class="col-1">
    <a class="btn btn-primary" href="/Admin/NewProduct">
      Add a New Product
    </a>
  </div>
</div>

@if (_products is null)
{
  <p>Loading...</p>
}
else
{
<table class="table">
  <thead>
  <th>Category</th>
  <th>Name</th>
  <th>Description</th>
  <th>Price</th>
  </thead>
  <tbody>
  @foreach (var product in _products)
  {
    <tr>
      <td>@product.Category.CategoryName</td>
      <td>@product.ProductName</td>
      <td>@product.Description</td>
      <td>@product.UnitPrice.GetValueOrDefault().ToString("C")</td>
    </tr>
  }
  </tbody>
</table>
}

@code {
  private Product[] _products;

  protected override async Task OnInitializedAsync()
  {
    _products = await Http.GetFromJsonAsync<Product[]>("/api/admin/products");

    _products = _products.OrderBy(p => p.Category.CategoryName)
      .ThenBy(p => p.ProductName)
      .ToArray();
  }

}