@page "/Session"
@inject HttpClient Http

<h3>Session</h3>

@code {
    
     

    //protected override async Task OnInitializedAsync()
    //{
    //    var value = Guid.NewGuid().ToString();

    //    var formData = new FormUrlEncodedContent(new[]
    //    {
    //        new KeyValuePair<string, string>("id", "testKey"),
    //        new KeyValuePair<string, string>("value","theValue")
    //    });
        
    //    var result = await Http.PostAsync("/api/_cocoon/session",formData );
        
    //}
}